<data>
	<ERRMESSAGE>Oopps.. There might be something wrong with Cloudica Server, we are sorry for the inconvenience, please try again, later</ERRMESSAGE>
	<ERRCODE>8002</ERRCODE>
	<FLAGGED>Error</FLAGGED>
</data>